@font-face {
  font-family: Segoe UI;
  font-weight: 400;
  src: url("../public/fonts/Segoe UI.ttf");
}

@font-face {
  font-family: Segoe UI;
  font-weight: 700;
  src: url("../public/fonts/Segoe UI Bold.ttf");
}
